html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  line-height: 1.7;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
  background-color: #e0e8ff;
  background-image: url("../images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

section {
  margin: auto;
  max-width: 28.125rem;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 0px 15px 20px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 15px 20px 5px rgba(0, 0, 0, 0.1);
}

.image img {
  display: block;
}

.summary {
  padding: 2.5rem 2.9375rem 2.8125rem 2.9375rem;
}

.summary h1, .summary p {
  text-align: center;
  margin-top: 0;
}

.summary h1 {
  margin-bottom: 0.6875rem;
  color: #1f2f56;
  font-size: 1.75rem;
  font-weight: 900;
}

.summary p {
  margin-bottom: 1rem;
  color: #7280a7;
}

.plan {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2.5fr min-content;
      grid-template-columns: 1fr 2.5fr -webkit-min-content;
      grid-template-columns: 1fr 2.5fr min-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.4375rem 1.5625rem;
  margin-bottom: 1.9375rem;
  background-color: #f5f7ff;
  border-radius: 10px;
}

.plan #period {
  color: #1f2f56;
  font-weight: 900;
}

.plan #price {
  color: #7280a7;
}

.plan a, .plan a:visited {
  display: inline-block;
  text-decoration: none;
  color: #3829e0;
  font-size: 0.875rem;
  font-weight: 700;
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

.plan a::after, .plan a:visited::after {
  content: '';
  width: 100%;
  height: 1px;
  display: block;
  margin-top: -6px;
  background: #3829e0;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.plan a:hover::after, .plan a:visited:hover::after {
  width: 0px;
}

.plan a:hover {
  text-decoration: none;
  opacity: 0.7;
}

.button {
  width: 100%;
  padding: 0.6875rem 0;
  background-color: #3829e0;
  color: white;
  font-weight: 700;
  text-align: center;
  border: 0;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 15px 5px rgba(56, 41, 224, 0.2);
          box-shadow: 0px 10px 15px 5px rgba(56, 41, 224, 0.2);
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

.button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.button a, .button a:visited, .button a:hover {
  text-decoration: none;
  color: white;
}

.cancel {
  margin-top: 1.8125rem;
  text-align: center;
  font-weight: 700;
}

.cancel a, .cancel a:visited {
  text-decoration: none;
  color: #7280a7;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.cancel a:hover {
  color: #1f2f56;
}

@media (max-width: 30em) {
  body {
    background-image: url("../images/pattern-background-mobile.svg");
  }
  section {
    max-width: 20.4375rem;
  }
  .image img {
    max-height: 10rem;
  }
  .summary {
    padding: 1.6875rem 1.6rem 1.75rem 1.6rem;
  }
  .summary h1 {
    font-size: 1.4375rem;
  }
  .summary p {
    line-height: 1.6;
    margin-bottom: 1.25rem;
  }
  .plan {
    -ms-grid-columns: 1fr 2fr min-content;
        grid-template-columns: 1fr 2fr -webkit-min-content;
        grid-template-columns: 1fr 2fr min-content;
    padding: 0.875rem 1rem;
    margin-bottom: 1.5rem;
  }
  .plan #period, .plan #price {
    font-size: 0.9375rem;
  }
  .button a, .cancel a {
    font-size: 0.9375rem;
  }
  .cancel {
    margin-top: 1.375rem;
  }
}
/*# sourceMappingURL=style.css.map */